.DS_Store
.secrets
.env
servers.json
config/gluetun/forwarded_port
config/gluetun/ip
config/gluetun/piaportforward.json
config/gluetun/servers/
config/privateerr/logs/
config/homepage/logs/
test/logs/
config/*/*
!config/*/*.md
!config/gluetun/wireguard/
!config/gluetun/wireguard/wg0.conf
!config/gluetun/wireguard/privateerr.env
!config/gluetun/scripts/
!config/gluetun/scripts/gluetun-entrypoint-wrapper.sh
!config/homepage/*
!config/privateerr/*
config/homepage/logs/
config/privateerr/logs/
