#
# Copyright 2025-2026 Scott Gigawatt
#
# Licensed under the Apache License, Version 2.0.
#
# .dockerignore: Files that do not belong in the Maraudarr image build context.
#

.DS_Store
__pycache__/
*.py[cod]
*.log
.pytest_cache/
.ruff_cache/
